.contato {
    text-align: left;
    margin:  70px 10px 70px 150px;
    font-weight: 450;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .figma{
    width: 5px;
  }

  .social-logos{
    display: flex;
    gap: 40px;
    margin: auto;
    margin-right: 170px;

  }


 